* {                 /*universal*/
	margin:0; 
	padding: 0;

}

body{
	background: #e6e6e6;
}

header, .main, footer {
	
	width:90%;
	max-width: 1000px;
	margin:20px auto;
}

header nav {
	background: #528FD5;
	overflow: hidden;  /*ocultar el contenido que sobrepasa y nos limpar el float: left;*/

}
header nav ul {
	list-style:none; /*los puntos se quitan*/
}
header nav ul li {
	float:left;
}
header nav ul li a {
	padding: 10px 20px;
	display: block;
	color: #fff;
	text-decoration: none; /* quitar la linea subrayada*/
}
.main .articles {
	width:68.5%;
	margin-right: 1.5%;
	float: left;
	
}

.main .articles article {
	padding:20px;
	background:#fff;
	margin-bottom:20px;
}
aside {
	width: 30%;
	background: orange;
	float:left;
	padding: 20px;
	box-sizing:border-box;
}
footer {
	background: black;
	color: white;
	clear:both; /*vas limpiar a partir de aqui los float:left; con salto*/
	padding: 10px 0px;
	text-align: center;
}