body{
	background: url(../imagenes/6.png);
	background-repeat:no-repeat;      /*1em=16px*/
	background-attachment:fixed; /*para que no se mueva el fondo*/
	background-position: 100px; 
	/*color: #fff; 
	background:url(../imagenes/6.png);
	height: 300px;
	color:#fff;*/

}
/*div{
	background: orange;
	width: 300px;
	height: 120px;
	margin:20px 50px;
	padding:30px;
	border: 10px dotted #000;    /*tienes que calcular los cuadros y dotted es puntos y solid linea de borde
	display: inline-block;
 
}
/*p{

	font-size: 1em;
}
div p{
	font-size: 1em;
}
h1{
	color:rgb(53,131,44,.5);

}
	/*background:#00ffff;
}
}
}
color:#800000;
}

{        quita los espacios
	margin: 0;
	padding:0;
	color: #ff0000;
}
h1,h2{
	color: #0000ff;
}
h1{
	font-size: 100px;
}
p{

}
p a{
	font-size: 20px;

}
.yellow{
	color: yellow;
}
a[href="#"]{    /*selectores
	color: green;
	font-size:30px ;
}
*/
p {                      /*este es para poner tipo de texto*/
	font-size: 30px;
	color: #000;
	font-family: "Verdana";
	font-weight: bold;
	text-align:center;
	line-height: 30px;
	text-decoration: none;
	text-transform: lowercase;
	letter-spacing: normal;
	word-spacing: 20px;
	text-shadow: 5px 5px 5px #000;


}
ul {
	list-style-type: square;
	list-style-position: outside;
}
ol{
	list-style-type: lower-alpha;
}
.menu {
	width: 100%;
	background: #000;
	list-style: none;
	margin:0;        /*que no tenga espacio*/ 
	padding:0;

}
.menu li{
	display:inline-block; /*modificar uno alado de otro*/
}
.menu li a {
	padding: 10px 20px;
	display:inline-block;
	color:#fff;


}
.menu*{
	background: #ccc;
	color:#000;

}
table {
	border: 1px solid #000;
	border-collapse: collapse;  /*propiedad que se utilizan en las tablas*/


}
table td {
	border:1px solid #000;
	padding:20px;     /*para que se vea centrado y ordenado*/

}

