div{
	width: 100px;
	height:100px;
	background: #4A88F4;
	color: #fff;
	font-size:30px;
	float: right;
}
.caja {                   /*Dezplazar cajas*/
	position: static;
	top: 100px;
	bottom:0 ;
	right:0;
	left:300px;
}