body {
	background: #2271b3;


}
header {
	font-size: 25px;
	text-align: center;
}

strong, p{
	font-size: 20px;
	text-align: center;
}

article {
	width: auto;
	background: orange;
	padding: 10px 0px;
	text-align: center;
	box-sizing:border-box;
}
aside {
	width: auto;
	background: #ccc;
	padding: auto;
	text-align: center;
	box-sizing:border-box;
}
a {
	color: #fff;
}
footer {
	background: black;
	clear:both;
	padding: 10px 0px;
	text-align: center;

}